{% load static %}
<!-- about section -->
<section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="{% static 'imgs/man.png' %}" class="about-img" alt="Ramesh Bhatta">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p>
                        I am a passionate and dedicated Computer Science graduate with a strong foundation in IT. With a
                        Bachelor's degree under my belt, I have equipped myself with a wide range of technical skills
                        and hands-on experience in software development.Apart from that I love doing yoga and
                        meditation.
                        <br>I've honed my skills in building web applications using Bootstrap, HTML, CSS , Python with
                        Django framework. My expertise extends to working with various aspects of web development,
                        including ORM, CRUD, login/logout , JSON, JWT ,google login, MVC architectures. Apart from that
                        i have skills on creating API using REST framework, handling others API, API authentication,
                        fetching data from others API and much more skills are under learning phase.
                    </p>
                    <button class="btn-rounded btn btn-outline-primary mt-4"><a href="{% url 'download_file' %}"> Download CV</button>
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->