 <!-- portfolio section -->
 <section class="section" id="portfolio">
    <div class="container text-center">
        <p class="section-subtitle">What I Did ?</p>
        <h6 class="section-title mb-6">Porojects</h6>
        <!-- row -->
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">

                <a href="{{project.project_link}}" class="portfolio-card" target="_blank">
                    <img src="{{project.project_image.url}}" class="portfolio-card-img" alt="job1 image">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>{{project.project_title}}</h5>
                                <p class="font-weight-normal">{{project.project_name}}</p>
                        </span>
                    </span>
                </a>
            </div>
            {% endfor %}
        </div><!-- end of row -->
    </div><!-- end of container -->
</section> <!-- end of portfolio section -->